@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url(../images/bg.jpg);
    width: 1920;
    height: 500;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    /*justify-content: center;*/
    /*flex에서 세로 정렬은 높이 값 있어야*
    /*세로 정렬을 위한 자식 사각형(block 타입)은 하나만 있어야*/
    height: 500px;
    align-items: center;
}
.content{
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    padding: 20px 10px;
}
.content h1{
    font-size: 40px;
    color: blue;
    margin-top: 10px;
    margin-bottom: 15px;
}
